@{
    ViewData["Title"] = "Home Page";
}

<div style="height:100px"></div>
<div class="text-center">
    <h1>Welcome to Our WebSite</h1>
    <h2 class="display-4">Expense Tracking System</h2>
    <br />
    <p>Record, Manage & Track Your Expenses. <br /> <b>!!!Future Saving is Second Income!!!</b></p>
    
</div>
